.headerBox {
    background-image: linear-gradient(to right, #000000, #96b0cd);
}
.logo {
    font-size: 21px;
    font-weight: 800;
    color: #acacad;
}
.navBox {
        font-size: 16px;
        font-weight: 600;
        color: #f7f7fc;
}