
body {
  margin: 0;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background:  #a995aa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}
